* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: salmon;
}
button, .nav-links a{
    text-decoration: none;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
